/* styling for index page */
.header-font {
  font-family: Helvetica, Sans-Serif;
  color: white;
  font-weight: ;
  letter-spacing: 6px;
  font-size: 50px;
  text-align: center;
  padding-bottom: 30px;
}

/* transparent box */
.box-transparent {
    padding: 25px;
    background-color: rgba(2, 0, 0, 0.4);  
}

.top-header {
  background-image: url("/img/amy.JPG");
  width: 100%;
  height: 30%;
  background-size: cover;
  
}

body,
html {
  height: 100%;
  font-family: Helvetica, Sans-Serif;
  color: #000000;
}

/* styling for index bg image */
.bg {
  background-image: url("/img/patternCopy.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




.navContainer {
  position: absolute;
  margin: 20px;
  width: auto;
  color: #000000;
}

.topnav {
  overflow: hidden;
  background-color: white;
  font-family: "Dongle", sans-serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.navbar {
  overflow: hidden;
  background-color: white;
  color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  color: #f1f1f1;
}

/* index anchor elements */
a {
  color: #ffffff;
  padding: 0px 8px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

a:hover {
  cursor: pointer;
  color: #f8dfdf;

}

/* instragram font awesome style on index page */
.fab, .far {
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  padding-top: 15px;
}

.fab:hover, .far:hover {
  color: #f8dfdf;
}


h2,
h3 {
  font-family: Helvetica, Sans-Serif;
  color: #000000;
  font-size: 25px;
}

header h2 {
  color: black;
  font-size: 20px;
  text-align: center;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: white;
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

.carousel {
  border: ;
}
