/* styling for index page */
.header-font {
  font-family: Helvetica, Sans-Serif;
  color: white;
  letter-spacing: 6px;
  font-size: 50px;
  text-align: center;
  padding-bottom: 30px;
}


.top-header {
  object-fit: contain;
  width: 100%;
  height: 150px;
} 

/* styling for index bg image */
.body-index, html {
  height: 100%;
  color: #000000;
}

/* styling for index bg image */
.bg {
  background-image: url("/img/patternCopy.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.navbar {
  overflow: hidden;
  background-color: white;
  color: #000000;
  top: 0;
  width: 100%;
  
}

/* nav bar elements */
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  color: #f1f1f1;
}

/* index anchor elements */
a {
  color: #ffffff;
  padding: 0px 8px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

a:hover {
  cursor: pointer;
  color: #f8dfdf;

}

/* instragram font awesome style on index page */
.fab, .far {
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  padding-top: 15px;
}

.fab:hover, .far:hover {
  color: #f8dfdf;
}

.carousel {
}

/* jumbotron on shop page */
.jumbotron {
  background-color: #ffffff;
  padding: 0px;
}

#header-test {
  background: url("/img/amy-2.JPG");
  

  
  object-position: 50% 50%;
  /* 
  background-image: no-repeat;
  object-fit: cover;
  image-rendering: pixelated;
 background: url("imgs/header.jpeg") center center / cover no-repeat; */
}