body {
  font-family: Helvetica, Sans-Serif;
  font-weight: bolder;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("/img/pattern.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.navContainer {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: white;
  font-family: 'Dongle', sans-serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.navbar {
  overflow: hidden;
  background-color: #white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  color: #f1f1f1;
}

.container {
  padding: 18px;
  margin-top: 35px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2, h3 {
    font-family: 'Amiko', sans-serif;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: black;
    font-size: 20px;
    text-align: center;
}

.site-footer {
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: white;
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}


.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel {
    border: ;
}